<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.toolsfordevs.fast.plugins.fileexplorer">

    <application>

        <!--  ${applicationId} in authorities is to make sure authority will be unique
              even if FAST is integrated in several apps on a device
              Otherwise, if app 1 already includes FAST and we try to install
              app 2 with FAST, we would have two providers with the same authority,
              hence getting install error -->

        <provider
            android:name=".FileProvider"
            android:authorities="com.toolsfordevs.fast.plugins.fileexplorer.${applicationId}"
            android:exported="true" />

    </application>
</manifest>
